html {
font-family: Open-Sans,sans-serif;
font-size: 13px;
box-sizing: border-box;
color: #2c2c2c;
}

button {
    border: 0.5px solid #00643C;
    border-radius: 2em;
    background-color: whitesmoke;
    color: #00643C;
    padding: 0.6em 0.9em;
    font-weight: 700;
}

button:hover {
    background-color: rgba(0, 100, 60, 0.2);
}

h2 {
    font-size: 2.2em;
    font-weight: 500;
}

h3 {
    font-weight: 800;
    font-size: 1.5em;
}

p {
    color: rgb(97, 97, 97);
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding: 5px 0px;
    line-height: 1.5em;
}

* {
    border: 0.5px red solid; 
}

/*header navigation bar*/

header {
    height: 100px;
    display: inline-flex;
    align-items: center;
    justify-items: center;
    width: 100%;
    position:fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 1px 3px grey;
}

.logo {
    max-height: 52px;
    margin-left: 105px;
    margin-top: 1px;
}

.menu {
    display: inline-flex;
    justify-items: center;
    padding-left: 27px;
    padding-right: 10px;
}

.menu h4 {
    padding: 15px;
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 1.5px ;
}

/*body section*/

body {
    background-color: whitesmoke;
}

.hero {
    display:flex;
    justify-content: center;
    align-content: center;
}

.summer {
    width: 1200px;
    margin-top: 91px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.hero-text {
    display:flex;
    justify-content: center;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 60px;

}

/*rewards*/

.middle {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 40px;
}

.middle-center {
    width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-left: 135px;
}

.inner {
    padding: 0px 10px;
}

.inner p {
    line-height: 2.5em;
}

.middle-img img {
    height: 400px;
}